<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Get help on the Ruby on Rails Tutorial at the
<a href="http://railstutorial.jjp/#ebook"><em>Ruby on Rails Tutorial</em> book</a>
</p>
<a href="/home">homeへ</a>
